/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Robo', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    color: #000;
}
.container {
    width: 100%;
    padding: 0;
}
.text-white {
    color: #fff;
}
#banner {
    height: 100vh;
    margin-bottom: 100px;

}

#banner-header {
    position: relative;
    z-index: 99999;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.801),transparent) ;
}
#banner-header .navbar-inverse {
    background-color: transparent;
   /*  border: none; */
    box-shadow: none;
   /*  padding-top: 50px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    margin: auto;
    width: 90%;
    height: 150px;
    border: none;
}


#banner-header .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    height: 35px;
    width: 75%;
    border: none;
    
}
#banner-header .nav  a {
    color: #fff;
    font-size: 16pt;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Unica One', cursive;
}
.navbar-inverse > .container {
    margin: auto;
    width: 90%;
}

.navbar-header > #logo {
    display: inline-block;
    padding: 0;
    height: auto;
    width: 200px;
    transform: rotate(-5deg);
}
#logo > img {
    text-shadow: 5px 5px 5px #000;
}
#banner-crsl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    margin: 0;
}
#banner-crsl img {
    width: 100%;
    height: 100vh;
}

/* Crsl caption style */

#banner-crsl .item > .container {
    /* positioning caption in the middle */
    position: absolute;
    top: 75%;
    width: 100%;
}

#banner-crsl .carousel-caption > h1 {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100px;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    padding: 25px;
    font-size: 3em;
}
#banner-crsl .carousel-caption > p {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 50px;
    height: auto;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    font-size: 16pt;
}
#banner-crsl .carousel-control {
    top: 45%;
    bottom: auto;   
    width: 100px;
    height: 100px;
    border-radius: 50%;
    

}

#banner-crsl .left {
    background-color: green;
    background-image: none;
    left: 5%;
}
#banner-crsl .carousel-control .glyphicon-chevron-left {
    position: relative;
    top: 45%;
    left: 2%;
}
#banner-crsl .right {
    background-color: blue;
    background-image: none;
    right: 5%;
}
#banner-crsl .carousel-control .glyphicon-chevron-right {
    position: relative;
    top: 45%;
    right: 2%;
}

/* Carousel indicators */
#banner-crsl .carousel-indicators > .active {
    background-color:greenyellow;
}
#about {
    height: 500px;
    width: 100%;
}
#about > h1 {
    font-family: 'Unica One', cursive;
    margin-bottom: 50px;
}
#about > p {
    font-size: 1.5em;
    margin: auto;
    width: 50%;
    color: #000;
}

#services .row {
    background-color: #4A62FF;
    height: 600px;
}
#services .row .board {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 600px;   

}
.board > article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 500px;
    border: 2px solid #fff;
}
.board  .btn {
    margin: 35px auto;
    color: #fff;
}
.board > article > h1 {
    font-family: 'Unica One', cursive;
    color: #43FF00;
}
.board .btn {
    border-radius: 0;
}
.board .btn-default {
    padding: 15px;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Unica One', cursive;
    border: 2px solid #fff;
    width: 150px;

}
#services .row .pic-board {
    height: 400px;
    width: 100%;
}

#tools {
    display: table;
    background-image: url('../img/crsl01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 100px;

    width: 100%;
}
#tools > h1 {
    font-family: 'Unica One', cursive;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 3.5em;
    text-shadow: -5px 10px 15px #000;
}
#tools .pic-card {
    border: 2px solid #000;
    box-shadow: 15px 10px 15px #000;
    width: 80%;
}
#tools .row {
    margin: 50px auto;
    width: 80%;

}
#gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/blur_02.png');
    background-size: cover;
    background-origin: border-box;
    height: 1080px;
    width: 100%;
    margin: 0;
}
#gallery #main-glry {
    height: 500px;
    width: 80%;
    border: 1px solid green;
}
#gallery #thmbs {
    width: 100%;
    border: 1px solid #fff;
}
